<footer class="footer pt2 pb2">

  <div class="row mb1">
    <%= link_to '#', class: 'item', target: '_blank' do %>
      <i class='fab fa-twitter footicon'></i>
    <% end %>
    <%= link_to '#', class: 'item', target: '_blank' do %>
      <i class="fab fa-facebook-f footicon"></i>
    <% end %>
    <%= link_to '#', class: 'item', target: '_blank' do %>
      <i class='fab fa-instagram footicon'></i>
    <% end %>
  </div>

  <div class="row mb1">
    <p class="bolder"> Contact : (+33) 6 00 00 00 00 | contact@littlegreens.com
  </div>

  <div class="row mb1">
    <%= link_to 'A Propos', '#', class: 'item', target: '_blank' %>
    <%= link_to "Raison d'être", '#', class: 'item', target: '_blank' %>
    <%= link_to "Nos produits", '#', class: 'item', target: '_blank' %>
    <%= link_to "FAQ", "#", class:"item" %>
  </div>

  <div class="row">
    <p class="love"><small>Copyright © 2022 LittleGreens | Fait avec <i class="fas fa-heart"></i></small></p>
  </div>

</footer>